@model GOAT.Controllers.CategoriesController
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="position-fixed bottom-0 right-0 p-5" style="z-index: 99999; right: 0; bottom: 0;">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header">
            <img src="~/img/success.gif" class="rounded mr-2 img-fluid" alt="...">

        </div>
        <div class="toast-body">
            <strong>Category Added Successfully!</strong>
        </div>
    </div>
</div>


<div class="container">

    <form asp-action="Add" asp-controller="Categories" method="post" onsubmit="ShowToast()">

        <div class="form-group">
            <label>Category Name</label>
            <input type="text" class="form-control" name="Name">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="Description">
        </div>

        <button type="submit" class="btn btn-success" id="liveToastBtn">Add Category</button>
    </form>

</div>


@section Scripts {
    <script src="~/js/AddCategory.js"></script>
}